.DS_Store
.idea
*.log
tmp/

debug/
.ccls-cache/
*.org
*.bin
*.mtl
*.obj
*.png
*.xopp
cmake-build-debug/
*.blend*
*.gl*
.cache/
cmake-build-debug-coverage/
compile_commands.json
*.db
*.fbx
*.bvh
*.zip
src/app/demoscene.hpp
